In [1]:
import pandas as pd
import numpy as np

In [24]:
i_cols = ['movie_id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

items = pd.read_csv('ml-100k/u.item', sep = '|', names = i_cols, encoding = 'latin-1')

In [25]:
items.tail(10)

,movie_id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1672,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995),0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1673,1674,Mamma Roma (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Mamma%20Roma%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1674,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1675,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1676,1677,Sweet Nothing (1995),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Sweet%20Nothi...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
# Select only needed item
movie_content = items[['movie_id', 'movie title' , 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]
movie_content

,movie_id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [27]:
# Read the ratings dataset
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep = '\t', names = r_cols, encoding = 'latin-1')

In [28]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [29]:
rating_stats = ratings.groupby("movie_id").agg(count=("rating", "count"),avg_rating=("rating", "mean")).reset_index()
rating_stats

      movie_id  count  avg_rating
0            1    452    3.878319
1            2    131    3.206107
2            3     90    3.033333
3            4    209    3.550239
4            5     86    3.302326
...        ...    ...         ...
1677      1678      1    1.000000
1678      1679      1    3.000000
1679      1680      1    2.000000
1680      1681      1    3.000000
1681      1682      1    3.000000

[1682 rows x 3 columns]

In [31]:
movies = movie_content.merge(rating_stats, on="movie_id", how="left")
movies

,movie_id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,...,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,count,avg_rating
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,452,3.878319
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,131,3.206107
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,90,3.033333
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,209,3.550239
4,5,Copycat (1995),0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,86,3.302326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1.000000
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,3.000000
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,2.000000
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,3.000000
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,3.000000

# Top Rated Based on Genre

In [62]:
def top_movies_by_genre(genre, metric="avg_rating", n=10):
   
    if genre not in movies.columns:
        print(f"Genre '{genre}' not found in movie data.")
        pass
    else:
    # Filter where genre = 1
        genre_movies = movies[movies[genre] == 1]
        
        # Sort by the chosen metric (descending)
        genre_movies = genre_movies.sort_values(metric, ascending=False)
        
        # Select only important columns
        return genre_movies[["movie_id", "movie title", 'count', metric]].head(n)

In [63]:
top_movies_by_genre('Action', metric="avg_rating", n=5)

     movie_id                      movie title  count  avg_rating
49         50                 Star Wars (1977)    583    4.358491
126       127            Godfather, The (1972)    413    4.283293
173       174   Raiders of the Lost Ark (1981)    420    4.252381
312       313                   Titanic (1997)    350    4.245714
171       172  Empire Strikes Back, The (1980)    367    4.204360

In [64]:
top_movies_by_genre("Adventure", metric="avg_rating", n=5)

      movie_id                      movie title  count  avg_rating
1292      1293                  Star Kid (1997)      3    5.000000
49          50                 Star Wars (1977)    583    4.358491
173        174   Raiders of the Lost Ark (1981)    420    4.252381
510        511        Lawrence of Arabia (1962)    173    4.231214
171        172  Empire Strikes Back, The (1980)    367    4.204360

In [65]:
top_movies_by_genre("Emotional", metric="avg_rating", n=5)

Genre 'Emotional' not found in movie data.

In [66]:
top_movies_by_genre("Drama", metric="avg_rating", n=5)

      movie_id                           movie title  count  avg_rating
1121      1122        They Made Me a Criminal (1939)      1         5.0
1535      1536                  Aiqing wansui (1994)      1         5.0
1466      1467  Saint of Fort Washington, The (1993)      2         5.0
1598      1599         Someone Else's America (1995)      1         5.0
1188      1189                    Prefontaine (1997)      3         5.0

# Top Rated Based on Average Rating of whole movie data

In [72]:
def top_movies_by_count(metric="count", n=10):
   
    # Sort by the chosen metric (descending)
    movie = movies.sort_values(metric, ascending=False)
    
    # Select only important columns
    return movie[["movie_id", "movie title", 'count', metric]].head(n)

In [73]:
top_movies_by_count(metric="avg_rating", n=5)

,movie_id,movie title,count,avg_rating
813,814,"Great Day in Harlem, A (1994)",1,5.0
1598,1599,Someone Else's America (1995),1,5.0
1200,1201,Marlene Dietrich: Shadow and Light (1996),1,5.0
1121,1122,They Made Me a Criminal (1939),1,5.0
1652,1653,Entertaining Angels: The Dorothy Day Story (1996),1,5.0

# Top Rated Based on highest count of whole movie data (Popularity count)

In [78]:
def top_movies_by_count(metric="count", n=10):
   
    # Sort by the chosen metric (descending)
    movie = movies.sort_values(metric, ascending=False)
    
    # Select only important columns
    return movie[["movie_id", "movie title", 'avg_rating', metric]].head(n)

In [79]:
top_movies_by_count(metric="count", n=5)

     movie_id                movie title  avg_rating  count
49         50           Star Wars (1977)    4.358491    583
257       258             Contact (1997)    3.803536    509
99        100               Fargo (1996)    4.155512    508
180       181  Return of the Jedi (1983)    4.007890    507
293       294           Liar Liar (1997)    3.156701    485